

<section class="toolbar container">
    <section class="statistic">
        Total items: <strong>12</strong>
    </section>
    <div class="pagination">
      <button class="button"><i
        class="material-icons">keyboard_arrow_left</i></button>
      <span>Page <strong>12</strong> from: <strong>1222</strong></span>
      <button class="button"><i
        class="material-icons">keyboard_arrow_right</i></button>
    </div>

</section>

<!--<section class="toolbar container">-->
<!--  <ng-container *ngIf="res.total > 0">-->
<!--    <section class="statistic">-->
<!--      Total items: <strong>{{ res.total }}</strong>-->
<!--    </section>-->
<!--    <div class="pagination">-->
<!--      <button class="button" [disabled]="page == 1 || settings.loading" (click)="gotToPage(page - 1)"><i-->
<!--        class="material-icons">keyboard_arrow_left</i></button>-->
<!--      <span>Page <strong>{{ page }}</strong> from: <strong>{{res.total_pages}}</strong></span>-->
<!--      <button class="button" (click)="gotToPage(page + 1)" [disabled]="page >= res.total_pages || settings.loading"><i-->
<!--        class="material-icons">keyboard_arrow_right</i></button>-->
<!--    </div>-->
<!--  </ng-container>-->
<!--  <ng-container *ngIf="res.total === 0">-->
<!--    There is no images like u want-->
<!--  </ng-container>-->
<!--</section>-->
