@import 'src/assets/styles/mixins';

:host {
  display: block;
  color: var(--font-color);
  background-color: var(--body-background-color);
  min-height: 100vh;
  font-family: var(--font);
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--primary-border-color);
  min-height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &__container {
    display: flex;
    width: 1160px;
    margin: auto;
    max-width: 100%;
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 0.5em;

    @include res(phone) {
      flex-direction: row;
      align-items: center;
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.actions {
  display: flex;
  list-style: none;
  margin-bottom: 0.5rem;

  @include res(phone) {
    margin-bottom: 0;
  }

  &__item {
    margin-left: 0.5rem;
    display: flex;
    align-items: center;

    &--on-mobile {
      @include res(phone) {
        display: none;
      }
    }
  }

  &__button {
    &--on-desktop {
      display: none;
      @include res(phone) {
        display: flex;
      }
    }
  }
}

.statistic {
  margin-bottom: 1rem;

  @include res(tab) {
    margin-bottom: 0;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include res(tab) {
    justify-content: flex-start;
  }

  &__page-number {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 0.875em;

    &--current {
      color: var(--primary-color);
    }
    &--total {
      color: var(--secondary-color);
    }
  }
}

.search-form {
  display: flex;
  width: 100%;
  position: relative;
  padding-left: 0.5rem;

  @include res(tab) {
    padding-left: 1rem;
  }

  @include res(desktop) {
    width: 70%;
    padding-left: 0;
  }

  &__input {
    flex: 1;
    box-sizing: border-box;
    height: 40px;
    margin: 0;
    padding: 0 1rem;
    line-height: 40px;
    border: 1px solid #c3c3c3;
    border-right: none;
    color: var(--font-color);
    transition: border-color 0.2s ease-in-out;
    background-color: transparent;

    &:focus {
      outline: none;
      border-color: var(--primary-color);

      + .search-form__select-wrapper > select {
        border-left-color: var(--primary-color) !important;
      }
    }
  }

  &__select-wrapper {
    display: flex;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 10px 7.5px 0 7.5px;
      border-color: var(--primary-color) transparent transparent transparent;
      position: absolute;
      right: 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 0;
    }
  }

  &__select {
    appearance: none;
    padding: 0 2rem 0 1rem;
    border: 1px solid var(--form-border-color);
    cursor: pointer;
    color: var(--font-color);
    position: relative;
    z-index: 1;
    background-color: transparent;
    transition: border-color 0.2s ease-in-out;

    &:focus {
      outline: none;
      border-color: var(--primary-color);
    }

    option {
      &:hover, &:focus {
        color: #fff;
        background-color: #ff4858;
        outline: none;
      }
    }
  }

  &__history-button {
    border: 1px solid var(--form-border-color);
    border-left-width: 0;

    &:hover,
    &:focus {
      border-color: var(--form-border-color);
    }
  }


  &__history {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
  }
}

.image-list-view {
  display: grid;
  width: 1160px;
  margin: auto;
  max-width: 100%;
  grid-template-columns: 1fr;
  background-color: var(--content-background);

  padding: 0 1rem 1rem 1rem;

  &:empty {
    display: none;
  }

  &--grid {
    grid-template-columns: 1fr;

    @include res(phone) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include res(tab) {
      grid-template-columns: repeat(3, 1fr);
    }


    @include res(desktop) {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  img {
    max-width: 100%;
    display: block;
  }
}

.content {
  padding: 1rem;
}

.toolbar {
  background-color: var(--content-background);
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @include res(phone) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.advanced-options {
  position: relative;
  background-color: var(--header-background-color);
  padding: 0.5rem;
  transform: translateY(0);
  transition: transform 0.2s ease-in-out;

  @include res(desktop) {
    padding: 0.5rem 0;
  }
}

.settings-form {
  display: flex;
  flex-wrap: wrap;

  &__group {
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-right: 0.5rem;
    position: relative;
    display: flex;
    align-items: center;
  }

  &__checkbox {
    margin-right: 0.4rem;
  }

  &__label {
    cursor: pointer;
    font-size: 0.875em;
    transition: color 0.2s ease-in-out;

    &:hover,
    &:focus {
      color: var(--primary-color);
    }
  }
}

.info {
  color: var(--primary-color);
  font-size: 0.875rem;

  &::first-letter {
    text-transform: capitalize;
  }
}

.search-history {
  border: 1px solid var(--primary-border-color);
  border-top: 0;
  padding: 0.5rem 0 0 0;
  background-color: var(--header-background-color);
  z-index: 3;

  &__title {
    padding: 0 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.history-list {
  padding: 0;
  list-style: none;
  overflow: auto;
  max-height: 200px;

  &__item {
    display: flex;

    &:not(:last-of-type) {
      margin-bottom: 0.5rem;
    }
  }

  &__item-name {
    flex: 1 1 0;
    margin-right: 0.5rem;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    text-align: left;
    padding: 0.5rem;

    &:hover,
    &:focus {
      // remove this hex color
      background-color: #dedede;
    }
  }

  &__link {
    text-align: center;
    font-size: 0.875em;
    color: var(--primary-color);
    text-decoration: none;
    display: block;
    border-top: 1px solid var(--primary-border-color);
    padding: 0.5rem;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}

.no-history {
  padding: 0.5rem;
}

.scroll-to-top {
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}
