<header class="header">
  <form action="" class="search-form">
    <label for="search-text" class="search-form__label">Search image in unsplash.com</label>
    <input type="search" id="search-text" class="search-form__input" placeholder="eg. puppies">

    <label for="image-orientation" class="search-form__label">Image orientation</label>
    <select name="" id="image-orientation">
      <option value="">landscape</option>
      <option value="">portrait</option>
      <option value="">squarish</option>
    </select>
  </form>
</header>
