<header class="header">
  <div class="header__container">
    <!--  <h1>MAUSE <span>Most Awesome Unsplash Search Engine</span></h1>-->
    <form action="" class="search-form" [formGroup]="searchForm" autocomplete="off">
      <input autofocuss required type="search" id="search-text" class="search-form__input"
             placeholder="eg. puppies (more than 2 letters)" formControlName="searchText">
      <select class="search-form__select" name="orientation" id="" formControlName="orientation">
        <option value="portrait" [defaultSelected]="true">portrait</option>
        <option value="landscape">landscape</option>
        <option value="squarish">squarish</option>
      </select>
    </form>

    <ul class="actions">
      <li class="actions__item" *ngIf="loading">
        <span class="actions__loader" role="alert">
          <span class="hide-for-user">Loading, please wait</span>
          <i class="material-icons" aria-hidden="true">
            autorenew
          </i>
          </span>
      </li>
      <li class="actions__item">
        <button (click)="nightMode()" title="Change grid layout" class="actions__button">
          <i class="actions__icon material-icons" aria-hidden="true">brightness_4</i>
        </button>
      </li>
      <li class="actions__item">
        <button (click)="gridView = !gridView" title="Change grid layout" class="actions__button">
          <i class="actions__icon material-icons" aria-hidden="true" *ngIf="gridView">list_view</i>
          <i class="actions__icon material-icons" aria-hidden="true" *ngIf="!gridView">view_module</i>
        </button>
      </li>
    </ul>
  </div>
</header>


<div class="content">


  <section class="toolbar container" *ngIf="res">
    <section class="statistic">
      Total items: {{ res.total }}
    </section>
  </section>

  <section class="image-list-view container" [ngClass]="{'image-list-view--grid' : gridView}" *ngIf="images">
    <ng-container *ngFor="let image of images">
      <article class="search-item" (click)="goToImageWebsite(image.links.html)">
        <div class="search-item__image-wrapper">
          <img
            src="{{image.urls.thumb}}"
            alt="" class="search-item__thumbnail">
        </div>
        <div class="search-item__details">

          <dl class="search-item__list">
            <ng-container *ngIf="!gridView">

              <dt class="search-item__label">Photo id: </dt>
              <dd class="search-item__value"> {{ image.id }}</dd>

              <dt class="search-item__label">Date of publication: </dt>
              <dd class="search-item__value"> {{image.created_at | amLocal | amDateFormat: 'YYYY-MM-DD HH:mm'}}</dd>

            </ng-container>

            <dt class="search-item__label">Author: </dt>
            <dd class="search-item__value">
              <a href="{{image.user.portfolio_url}}"
                 class="search-item__link"
                 (click)="$event.stopPropagation()"
                 *ngIf="image.user.portfolio_url else onlyNameSection">{{ image.user.name }}</a>
              <ng-template #onlyNameSection>{{ image.user.name }}</ng-template>
            </dd>
          </dl>

          <p class="search-item__description">{{image.description}}</p>

          <a class="search-item__button" href="{{ image.links.html }}" (click)="$event.stopPropagation()" >View</a>

          <span class="search-item__status" *ngIf="image.created_at < expiredNewLabelDate">
            <i class="material-icons">
            star_border
            </i>
          </span>
        </div>
      </article>
    </ng-container>

  </section>
</div>
