.header {
  background-color: var(--header-background-color);
  height: 80px;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 1px solid #ddd;
}

.image-list-view {
  display: grid;
  width: 1160px;
  margin: auto;
  max-width: 100%;
  grid-template-columns: 1fr;
  background-color: #fff;
  padding: 1rem;

  &--grid {
    grid-template-columns: repeat(4, 1fr);
  }

  img {
    max-width: 100%;
    display: block;
  }
}

.content {
  padding: 1rem;
}


button img {
  width: 32px;
  height: 32px;
}
