@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');

:root {
  --body-background-color: #eceff1;
  --header-background-color: #fff;
  --primary-color: #ff4858;
  --primary-border-color: #ddd;
  --font-color: #222;
  --content-background: #fff;
  --search-item-value-color: #222;
  --search-item-hover-background: #dedede;
}

.dark-mode {
  --body-background-color: #222;
  --header-background-color: #181818;
  --font-color: #fff;
  --primary-color: #ff4858;
  --primary-border-color: #ddd;
  --content-background: #464646;
  --search-item-value-color: #dadada;
  --search-item-hover-background: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-y: scroll;
}
