@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Open+Sans:400,600,700&display=swap&subset=latin-ext');
@import './assets/styles/mixins';

:root {
  --body-background-color: #eceff1;
  --header-background-color: #fff;
  --primary-color: #017eff;
  --secondary-color: #04e8f6;
  --primary-border-color: #ddd;
  --font-color: #222;
  --content-background: #fff;
  --search-item-value-color: #222;
  --search-item-hover-background: #ececec;
  --form-border-color: #c3c3c3;
  --icon-color: #757575;
  --button-active-background-color: rgba(0, 0, 0, 0.1);
  --modal-overlay-background-color: rgba(0, 0, 0, 0.7);
  --modal-background: #fff;
  --text-button-color: #fff;
  --item-background: #fff;
  --modal-header-background-color: #fff;
  --details-title-color: #757575;
  --details-value-color: #222;
  --search-item-label-color: #767676;
  --overlay-background-color: rgba(0, 0, 0, 0.2);
  --ornament-color: #ffa500;
  --submenu-background-color: #fff;

  --font: 'Open Sans', sans-serif;
}

.dark-mode {
  --body-background-color: #222;
  --header-background-color: #181818;
  --font-color: #fff;
  --primary-color: #ff4858;
  --primary-border-color: #464646;
  --content-background: #464646;
  --search-item-value-color: #dadada;
  --search-item-hover-background: #222;
  --form-border-color: #5b5b5b;
  --icon-color: #fff;
  --button-active-background-color: rgba(255, 255, 255, 0.1);
  --modal-overlay-background-color: rgba(0, 0, 0, 0.7);
  --modal-background: #000;
  --text-button-color: #fff;
  --item-background: #000;
  --modal-header-background-color: #000;
  --details-title-color: #fff;
  --details-value-color: #fff;
  --search-item-label-color: #fff;
  --overlay-background-color: rgba(0, 0, 0, 0.5);
  --ornament-color: #ffa500;
  --submenu-background-color: #000;
  --font: 'Open Sans', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  min-height: 100vh;
  overflow-y: scroll;

  &.modal-open {
    overflow-y: hidden;
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0, 0, 0, 0.3);
}

.button {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  transition: background-color 0.2s ease-in-out;
  border-radius: 50%;
  user-select: none;

  i {
    color: var(--icon-color);
    transition: color 0.2s ease-in-out;
  }
  &:disabled {
    opacity: 0.2;
  }
  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:focus {
      i {
        @include gradient-overlay();
      }

      background-color: var(--button-active-background-color);
    }

    &:focus,
    &:active {
      border-color: var(--primary-color);
    }
  }

  &--no-border-radius {
    border-radius: 0;
  }

  i {
    width: 24px;
    transition: color 0.2s ease-in-out;
  }
}

.text-button {
  display: inline-block;
  text-transform: uppercase;
  color: var(--text-button-color);
  padding: 0.5rem 1rem;
  text-decoration: none;
  background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
  background-size: 400%;
  font-size: 0.875em;
  font-weight: bold;
  animation: buttonAnimation 10s linear infinite;
  transition: background-size 0.2s ease-in-out;
  border: 0;
  cursor: pointer;
  &:hover,
  &:focus {
    background-size: 100%;
  }
}

.link {
  color: var(--primary-color);
  text-decoration: none;
  background: linear-gradient(to bottom, var(--primary-color) 0%, var(--primary-color) 100%) repeat-x 0 100%;
  background-size: 2px 2px;
  transition: background-size .2s, color .2s;
  padding-left: 3px;
  padding-right: 3px;

  &:hover,
  &:focus {
    background-size: 4px 50px;
    color: #fff;
  }
}

.container {
  width: 1160px;
  margin: auto;
  max-width: 100%;

  &--flex {
    display: flex;
    justify-content: space-between;
  }
}

.hide-for-user {
  width: 0;
  height: 0;
  display: block;
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
}

@keyframes buttonAnimation {
  0% {
    background-position: 0 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0 50%
  }
}

.star-explain {
  position: absolute;
  top: 0.75rem;
  right: 0;
  font-size: 0.875em;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}
