$small: 567px;
$medium: 768px;
$desktop: 1160px;
$wide: 1680px;

@mixin gradient-overlay() {
  color: var(--primary-color);
  background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin res($breakpoint) {
  @if $breakpoint == wide {
    @media only screen and (min-width: $wide) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
  @if $breakpoint == tab {
    @media only screen and (min-width: $medium) {
      @content;
    }
  }
  @if $breakpoint == phone {
    @media only screen and (min-width: $small) {
      @content;
    }
  }
}
